<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="java">
<html lang="en" th:fragment="css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    * {
        box-sizing: border-box;
        margin: 0 auto;
    }

    #title {
        text-align: center;
        color: blue;
    }

    table {
        width: 100%;
    }

    label {
        display: inline-block;
        width: 100px;
    }

    input {
        width: 100%;
    }
</style>
<body>

</body>
</html>